{% extends 'blog/home.html' %}

{% block title %}
  <title> Messages </title>
{% endblock %}

{% block content %}
<div class="centerInput">
    <a class="btn btn-primary" href="{% url 'messages:newmessage' %}">Nuevo mensaje</a>
    </br>
    </br>
    </br>
    {% if messages %}
        {% for message in messages %}
            <li>De: {{message.from_message}}   -   Mensaje: {{message.message}}  </br></br></br></li>
        {% endfor %}    
    {% else %}
        Sin mensajes.
    {% endif %}
</div>
{% endblock %}