{% extends 'blog/home.html' %}
{% load static %}

{% block title %}
    <title>About Us</title>
{% endblock %}

{% block content %}
</br>
</br>
</br>
</br>
</br>
<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-2">
        <img src="{% static 'images/aboutus.jpg' %}" class="img-fluid rounded-start"  alt="..." >
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">Sobre Mi</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}