{% extends 'blog/home.html' %}
{% load static %}

{% block title %}
    <title>About Us</title>
{% endblock %}

{% block content %}
</br>
</br>
</br>
</br>
</br>
<div>
  <img src="{% static 'images/aboutus.jpg' %}" class="imagenesPrueba"  alt="..." >
  <h1 class="estiloTitulo">Sobre mi</h1>
  <p class="estiloParrafo"> Soy Marcelo Pekerle, un estudiante de Ingeniería Electrónica adentrándose en el mundo del desarrollo creando un blog basado en django como proyecto para un curso. </p>
</div>

{% endblock %}