<html>
<head>
  <title>Title of the document</title>
</head>

<body>
    <h1>Blogs</h1>
    <a href= "{% url 'pages:create' %}">Crear Blog</a>
    </br>
    </br>
    </br>
    {% if onject_list != 0 %}
      {% for blog in object_list %}
          <li>{{blog.title}} - {{blog.author.name}} <a href= "{% url 'page-detail' blog.pk %}">Mas...</a> <a href= "{% url 'pages:edit' blog.pk %}">Editar</a> <a href= "{% url 'pages:delete' blog.pk %}">Eliminar</a></br></li>
      {% endfor %}
    {% else %}
    </br>
    </br>
    </br>
      Sin blogs para mostrar, cree uno.
    {% endif %}
    
</body>

</html>